<h1 class="topHeader" style="color: #3F51B5; font-size: 20px;">Clients</h1>
<div class="card p-0" style="border-radius: 1rem; margin-top: -5px;">
    <div class="card-body col-lg-12">
        <div class="row">
            <div class="col-lg-3">
                <span type="submit" (click)="getClientsList('All')">
                    <b>Total Clients</b><a class="box ml-2">{{this.clientList?.total_clients_count}}</a>
                </span>
            </div>
            <div class="col-lg-3">
                <span type="submit" (click)="getClientsList('Active')">
                    <b>Active Clients</b> <a class="box ml-2">{{this.clientList?.active_clients_count}}</a>
                </span>
            </div>
            <div class="col-lg-3">
                <span type="submit" (click)="getClientsList('Inactive')">
                    <b>Inactive Clients</b> <a class="box ml-2">{{this.clientList?.inactive_clients_count}}</a>
                </span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-3">
                <div class="search-container">
                    <input class="form-control form-control-sm search-input" type="text"  [(ngModel)]="searchText" (keyup)="search()" placeholder="Search Clients">
                    <i class="fa fa-search search-icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-lg-9 text-right">
                <button type="button" [routerLink]="['/clients-list','add-client']" class="add-button"
                 >
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Client
                </button>
            </div>
        </div>

            <ag-grid-angular class="ag-theme-alpine pt-3"    [gridOptions]="gridOptions"
                (paginationChanged)="onPaginationChanged($event)"
                (gridReady)="onGridReady($event)"></ag-grid-angular>
       
    </div>
</div>